.card {
  width: 130px;
  background-color: #173F4B;
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-top: 8px;
  position: relative;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400; }
  .card--title {
    padding: 12.5px 0 17px 0; }
  .card--down-arrow {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: #173F4B transparent; }
