.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.event-planner {
  position: relative;
  max-width: 834px; }

.card-collection {
  display: flex; }
  .card-collection--block {
    position: relative;
    max-width: 130px; }
    .card-collection--block__stroke {
      height: 16px;
      width: 2px;
      background-color: #3C7F90;
      border-radius: 2px;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 5px; }
  .card-collection--birth {
    margin-left: 28px; }
  .card-collection--holiday {
    margin-left: 9px; }
  .card-collection--retire {
    position: absolute;
    right: 32px; }

.card {
  width: 130px;
  background-color: #173F4B;
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-top: 8px;
  position: relative;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400; }
  .card--title {
    padding: 12.5px 8px 17px 8px; }
  .card--down-arrow {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: #173F4B transparent; }
  .card--up-arrow {
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(50%, -50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: #173F4B transparent;
    rotate: 180deg; }
  .card--up-arrow-light-green {
    content: '';
    position: absolute;
    top: -6px;
    right: 25px;
    transform: translateX(-50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: #3C7F90 transparent;
    rotate: 180deg; }
  .card--light-green {
    background-color: #3C7F90; }

.timeline {
  display: flex;
  justify-content: center;
  align-items: center; }
  .timeline--start-dot {
    width: 18px;
    height: 18px;
    background-color: #00B897;
    position: relative;
    border-radius: 50%; }
    .timeline--start-dot::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: #215A6B;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .timeline--event-dot {
    width: 8px;
    height: 8px;
    background-color: #00B897;
    border-radius: 50%;
    position: relative; }
  .timeline--event-line-1 {
    width: 65px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 0 3px; }
  .timeline--event-line-2 {
    width: 125px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 0 3px; }
  .timeline--event-line-3 {
    width: 188.5px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 0 3px; }
  .timeline--event-line-dotted {
    height: 1px;
    width: 174px;
    border-bottom: 3px dotted #FFFFFF;
    margin: 0 3px; }
  .timeline--arrow {
    height: 16px;
    margin-top: 4px; }
  .timeline--event-text-start {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 24px;
    position: absolute;
    width: 51px;
    margin-left: -16px; }
  .timeline--event-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 20px;
    position: absolute;
    width: 100px;
    margin-left: -42px; }
