//variables
$dark-green: #173F4B;
$dot-green: #215A6B;
$light-green: #3C7F90;
$teal: #00B897;
$white: #FFFFFF;
// End variables

.app-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-planner {
  position: relative;
  max-width: 834px;
}

.card-collection {
  display: flex;

  &--block {
    position: relative;
    max-width: 130px;

    &__stroke {
      height: 16px;
      width: 2px;
      background-color: $light-green;
      border-radius: 2px;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  &--birth {
    margin-left: 28px;
  }

  &--holiday {
    margin-left: 9px;
  }

  &--retire {
    position: absolute;
    right: 32px;
  }

  &--new-home {
    margin-left: 28px;
    margin-top: 43px;

    .card-collection--block__stroke {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  &--emergency-fund {
    margin-left: 148px;
    margin-top: 43px;

    .card-collection--block__stroke {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  &--debt-free {
    margin-left: 72px;
    margin-top: 43px;

    .card-collection--block__stroke {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  &--contribution {
    position: absolute;
    right: -20px;
    margin-top: 43px;

    .card-collection--block__stroke {
      margin-top: 5px;
      margin-bottom: 15px;
      position: relative;
      left: 40px;
    }
  }
}

.card {
  width: 130px;
  background-color: $dark-green;
  color: $white;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding-top: 8px;
  position: relative;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 400;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
  }

  &--title {
    padding: 12.5px 8px 17px 8px;
  }

  &--down-arrow {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: $dark-green transparent;
  }

  &--up-arrow {
    content: '';
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(50%, -50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: $dark-green transparent;
    rotate: 180deg;
  }

  &--up-arrow-light-green {
    content: '';
    position: absolute;
    top: -6px;
    right: 25px;
    transform: translateX(-50%);
    border-width: 6px 7px 0;
    border-style: solid;
    border-color: $light-green transparent;
    rotate: 180deg;
  }

  &--light-green {
    background-color: $light-green;
  }
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;

  &--start-dot {
    width: 18px;
    height: 18px;
    background-color: $teal; 
    position: relative;
    border-radius: 50%;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $dot-green;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--event-dot {
    width: 8px;
    height: 8px;
    background-color: $teal;
    border-radius: 50%;
    position: relative;
  }

  &--event-line-1 {
    width: 65px;
    height: 1px;
    background-color: $white;
    border-radius: 2px;
    margin: 0 3px;
  }

  &--event-line-2 {
    width: 125px;
    height: 1px;
    background-color: $white;
    border-radius: 2px;
    margin: 0 3px;
  }

  &--event-line-3 {
    width: 188.5px;
    height: 1px;
    background-color: $white;
    border-radius: 2px;
    margin: 0 3px;
  }

  &--event-line-dotted {
    height: 1px;
    width: 174px;
    border-bottom: 3px dotted $white;
    margin: 0 3px;
  }

  &--arrow {
    height: 16px;
    margin-top: 4px;
  }

  &--event-text-start {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    color: $white;
    opacity: 0.6;
    margin-top: 24px;
    position: absolute;
    width: 51px;
    margin-left: -16px;
  }

  &--event-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    color: $white;
    opacity: 0.6;
    margin-top: 20px;
    position: absolute;
    width: 100px;
    margin-left: -42px;

    &__end {
      margin-top: 13px;
    }
  }
}

 